<div class="container col-md-6 mt-5">
  <form action="/forgetpassword" method="POST" class="card card-body mb-3 shadow">
    <h2 class="text-center">ENTER YOUR EMAIL</h2>
    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        name="email"
        placeholder="Email"
      />
    </div>
        <div class="mb-3 text-center">
      <button class="btn btn-warning" type="submit"> SEND EMAIL</button>
    </div>

  </form>
 </div>