<div class="container col-md-6 mt-5">
  <form action="/resetpassword" method="POST" class="card card-body mb-3 shadow">
    <h2 class="text-center">ENTER YOUR NEW PASSWORD</h2>
    <div class="mb-3 position-relative">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
        id="password"
      />
            <i
        class="fa-solid fa-eye-slash position-absolute top-0 end-0 mt-2 me-2 text-secondary"
        id="password-icon"
        style="cursor: pointer;"
        onclick="togglePassword()"
      ></i>
     
    </div>

    <div class="mb-3 position-relative">
       <input
        type="password"
        class="form-control"
        name="password2"
        placeholder="Confirm Password"
        id="password2"
      />
            <i
        class="fa-solid fa-eye-slash position-absolute top-0 end-0 mt-2 me-2 text-secondary"
        id="password-icon2"
        style="cursor: pointer;"
        onclick="toggleConfirm()">
        </i>
    </div>
 <input type="hidden" name="resetToken" value="{{resetToken}}">

        <div class="mb-3 text-center">
      <button class="btn btn-warning" type="submit"> RESET</button>
    </div>

  </form>
 </div>